/*Navbar*/
#navbar, #footer{
    margin: 1% 5%;
}

/*margin left and right: 62.712;*/

/*carousel*/


/*Estabelecimentos*/
#mural-estabelecimentos{
    margin: 1% 5%;
}

.row{
    margin: 2% 2% 2%;
}

.card{
    margin: 1% 17% 1%;
}

/*inicio*/
#inicio{
    background-color: #2E34A6;
    position: relative;
}

.container-fluid{
    padding: 0% 3% 0%;
}

.navigation-bar-index{
    padding-right: 4%;
    padding-left: 4%;
}

.navigation-bar{
    background-color: #2E34A6;
}

/*carousel*/
.carousel{
    padding: 3%;
}

/*mural-estabelecimentos*/
body{
    background-color: #CEE1F2;
}

#mural-estabelecimentos{
    margin: 0%;
}

.card{
    width: 20rem;
}

#pricing{
    background-color: #2E34A6;
}


/*Footer*/
footer{
    background-color: #2E34A6;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

#footer-paragraph{
    margin: 0px;
}

/*Específico "Sobre"*/

.btn{
    background-color: #2E34A6;
}

.propaganda{
    text-align: center;
}

/*#creator-explanation{
    text-align: left;
    margin: 
}
*/

