<%- include('partials/header') %>

<h2 class="main">Perfil do Cliente</h2>

<!-- Botão para alterar dados -->
<a href="/editar-dados" class="btn btn-primary">Alterar Dados</a>

<!-- Lista de locações -->
<h3>Minhas Locações</h3>


<!-- Botão de logout -->
<form action="/logout" method="POST">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<%- include('partials/footer') %>
