<%- include('partials/header') %>

<form action="/cadastrar-usuario" method="post">
    <div class="mb-3">
        <label for="userName" class="form-label">Nome de usuário</label>
        <input type="email" class="form-control" id="userName" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="userEmail" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nós não compartilharemos seu e-mail com terceiros</div>
    </div>
    <div class="mb-3">
      <label for="userPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="userPassword">
    </div>
    <div class="mb-3">
        <label for="userRetypePassword" class="form-label">Confirmar Senha</label>
        <input type="password" class="form-control" id="userRetypePassword">
    </div>
    <div>Selecione o tipo de usuário</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Locatário (usuário comum)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Locador (estabelecimento)
        </label>
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

<%- include('partials/footer') %>