<%- include('partials/header') %>

<div class="description">
    <h3>Título do estabelecimento</h3>
    <p>Descrição do local</p>

    <div class="box-parent-login">
        <div class="box-parent-login">
            <form role="form" action="/estabelecimentos/x/horarios">
                <fieldset>
                    <input type="submit" value="Visualizar horários" class="btn btn-primary btn-lg btn-block"/>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="box-parent-login">
        <div class="box-parent-login">
            <form role="form" action="/">
                <fieldset>
                    <input type="submit" value="Voltar" class="btn btn-primary btn-lg btn-block"/>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<%- include('partials/footer') %>