<%- include('partials/header') %>

<h1>Horários disponíveis</h1>

  <table id="horarioTable">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
  </table>

  <div class="box-parent-login">
    <div class="box-parent-login">
        <form role="form" action="/estabelecimentos/x">
            <fieldset>
                <input type="submit" value="Voltar" class="btn btn-primary btn-lg btn-block"/>
            </fieldset>
        </form>
    </div>
</div>
<%- include('partials/footer') %>