<%- include('partials/header', { titleTag: 'Título da página' })%>

<div class="container">
  <h3>Locação Confirmada</h3>
  <p>Parabéns! Você alugou o estabelecimento <%= nome %>. Aproveite sua estadia!</p>

  <div class="box-parent-login">
    <div class="box-parent-login">
        <form role="form" action="/">
            <fieldset>
                <input type="submit" value="Voltar" class="btn btn-primary"/>
            </fieldset>
        </form>  
    </div>
  </div>
</div>

<%- include('partials/footer') %>
