<%- include('partials/header') %>

<h2>Planos disponíveis</h2>
<section id="pricing">
    <div class="row">
        <div class="pricing-card col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Bronze</h3>
                </div>
                <div class="card-body">
                    <h2>R$ 20,00</h2>
                    <p>Exposição no site</p>
                    <p>Acesso à edição direta de conteúdo</p>
                    <p>Modificações limitadas no perfil</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-dark">Contratar plano Bronze</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing-card col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Prata</h3>
                </div>
                <div class="card-body">
                    <h2>R$ 50,00</h2>
                    <p>Exposição preferencial por 5 dias</p>
                    <p>Conteúdo taggeado como mais relevante</p>
                    <p>Avaliações expostas</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-dark">Contratar plano Prata</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing-card col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Ouro</h3>
                </div>
                <div class="card-body">
                    <h2>R$ 80,00</h2>
                    <p>Exposição preferencial por 10 dias</p>
                    <p>Conteúdo taggeado como mais relevante</p>
                    <p>Modificações ilimitadas no perfil</p>
                    <p>A cada 1000 meses, você ganha uma visita nas maldivas</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-dark">Contratar plano Ouro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="propaganda">
        <h3>Um pequeno investimento para um retorno potencial</h3>
        <p>Veja o que mais se adequa à você e seu negócio</p>
    </div>
</div>  

<%- include('partials/footer') %>