<%- include('partials/header') %>

<div class="box-parent-login">
    <div class="box-parent-login">
        <form role="form" action="/login">
            <fieldset>
                <div class="form-group ls-login-user">
                    <label for="userEmail">E-mail</label>
                    <input class="form-control ls-login-bg-user input-lg" id="userEmail" type="text" aria-label="E-mail" placeholder="E-mail">
                </div>

                <div class="form-group ls-login-user">
                    <label for="userNewPassword">Senha</label>
                    <input class="form-control ls-login-bg-user input-lg" id="userNewPassword" type="text" aria-label="Senha" placeholder="Senha">
                </div>

                <div class="form-group ls-login-user">
                    <label for="retypeUserNewPassword">Confirmar Senha</label>
                    <input class="form-control ls-login-bg-user input-lg" id="retypeUserNewPassword" type="text" aria-label="Confirmar Senha" placeholder="Confirmar Senha">
                </div>
    

                <input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block"/>
            
            </fieldset>
        </form>
    </div>
</div>

<%- include('partials/footer') %>