/*Navbar*/
#navbar, #footer{
    margin: 1% 5%;
}

.container-fluid{
    padding: 0% 3% 0%;
}


/*margin left and right: 62.712;*/

/*Estabelecimentos*/
#mural-estabelecimentos{
    margin: 1% 5%;
}

.row{
    margin: 2% 2% 2%;
}

.card{
    margin: 1% 17% 1%;
}

/*Footer*/
#footer{
    text-align: center;
}

body{
    background-color: black;
    color: white;
}
