<%- include('../partials/header-estabelecimentos') %>

<% if (sucesso == 'Atualizado') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Senha Atualizada</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>
  
<% if (erro && erro != '') { %>
    <% if (erro == 'E-mail' || erro == 'Senha' || erro == 'Confirmar Senha') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Campo <strong>"<%= erro %>"</strong> não preenchido 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (erro == 'Diferentes') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            As senhas <strong>não conferem</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% } %>
<% } %>

<div class="alterar-perfil-geral">
    <div class="box-parent-login">
        <div class="box-parent-login">
            <form role="form" action="/gerenciar-estabelecimento" method="POST">
                <div class="info-estabelecimentos">
                    <fieldset class="dados-texto">
                        <div class="estabelecimento-dados-texto">
                            <div class="form-group ls-login-user">
                                <label for="userEmail">E-mail</label>
                                <input class="form-control ls-login-bg-user input-lg" id="userEmail" name="email" type="email" aria-label="E-mail" placeholder="Novo E-mail">
                            </div>
    
                            <div class="form-group ls-login-user">
                                <label for="userNewPassword">Senha</label>
                                <input class="form-control ls-login-bg-user input-lg" id="userNewPassword" name="senha" type="password" aria-label="Senha" placeholder="Nova Senha">
                            </div>
    
                            <div class="form-group ls-login-user">
                                <label for="retypeUserNewPassword">Confirmar Senha</label>
                                <input class="form-control ls-login-bg-user input-lg" id="retypeUserNewPassword" name="confirmarSenha" type="password" aria-label="Confirmar Senha" placeholder="Confirmar Senha">
                            </div> 
                        </div>

                    </fieldset>

                    <fieldset class="dados-card">
                        <div class="estabelecimento-dados-card">
                            <div class="form-group ls-login-user">
                                <label for="descricaoCard">Descrição do Card</label>
                                <input class="form-control ls-login-bg-user input-lg" id="descricaoCard" name="decricaoCard" type="text" aria-label="Descrição Card" placeholder="Limitado a 60 caracteres" maxlength="60">
                            </div>
    
                            <div class="mb-3">
                                <label for="uploadFoto" class="form-label">Escolher foto de Capa do card</label>
                                <input class="form-control" type="file" id="uploadFoto">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="dados-gerais">
                        <div class="estabelecimentos-infos-gerais">
                            <div class="form-group ls-login-user">
                                <label for="descricaoGeral">Descrição Geral</label>
                                <textarea class="form-control" id="descricaoGeral" name="descricaoGeral" rows="3"></textarea>
                            </div>
    
                            <div class="mb-3">
                                <label for="fotosLocal" class="form-label">Escolher fotos do local</label>
                                <input class="form-control" type="file" id="fotosLocal" multiple>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class='info-estabelecimentos'>
                    <fieldset class="dados-texto">
                        <div class="check">
                            <label>Dias de Funcionamento</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Domingo" id="domingo">
                                <label class="form-check-label" for="domingo">
                                  Domingo
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Segunda" id="segunda">
                                <label class="form-check-label" for="segunda">
                                  Segunda
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Terça" id="terca">
                                <label class="form-check-label" for="terca">
                                  Terça
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Quarta" id="quarta">
                                <label class="form-check-label" for="quarta">
                                  Quarta
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Quinta" id="quinta">
                                <label class="form-check-label" for="quinta">
                                  Quinta
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Sexta" id="sexta">
                                <label class="form-check-label" for="sexta">
                                  Sexta
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="diasSemana" value="Sábado" id="sabado">
                                <label class="form-check-label" for="sabado">
                                  Sábado
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    

                    <fieldset class="dados-texto">
                        <div class="check">
                            <label>Horários de Funcionamento</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="16:00" id="16:00">
                                <label class="form-check-label" for="16:00">
                                  16:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="17:00" id="17:00">
                                <label class="form-check-label" for="17:00">
                                  17:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="18:00" id="18:00">
                                <label class="form-check-label" for="16:00">
                                  18:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="19:00" id="19:00">
                                <label class="form-check-label" for="19:00">
                                  19:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="20:00" id="20:00">
                                <label class="form-check-label" for="20:00">
                                  20:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="21:00" id="21:00">
                                <label class="form-check-label" for="21:00">
                                  21:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="22:00" id="22:00">
                                <label class="form-check-label" for="22:00">
                                  22:00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="horarios" value="23:00" id="23:00">
                                <label class="form-check-label" for="23:00">
                                  23:00
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                
                


                <input type="submit" value="Alterar Dados" class="btn btn-primary btn-lg btn-block" id="btn-alterar"/>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>