<%- include('../login/header-login') %>

<% if (erro && erro != '') { %>
  <% if (erro == 'Nome' || erro == 'Senha' || erro == 'E-mail' || erro == 'Confirmar Senha') { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Campo <strong>"<%= erro %>"</strong> não preenchido 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>
  <% if (erro == 'Não Confere') { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        As senhas <strong>não conferem</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>
  <% if (erro == 'Já Cadastrado') { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
         Usuário <strong>já cadastrado</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>

<% } %>

<div class="cadastro">
  <form action="/cadastrar-estabelecimento" method="post">
    <div class="mb-3">
      <label for="userName" class="form-label">Nome de usuário</label>
      <input type="text" class="form-control" id="userName" name="nome" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="userEmail" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="userEmail" name="email" aria-describedby="emailHelp">
      <p id="email-aviso">*Nós não compartilharemos seu e-mail com terceiros</p>
    </div>
    <div class="mb-3">
      <label for="userPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="userPassword" name="senha">
    </div>
    <div class="mb-3">
      <label for="userRetypePassword" class="form-label">Confirmar Senha</label>
      <input type="password" class="form-control" id="userRetypePassword" name="confirmarSenha">
    </div>
    <button type="submit" class="btn btn-primary" id="btn-cadastrar">Cadastrar Uusuário</button>
  </form>
</div>



<%- include('../partials/footer') %>