<%- include('../partials/header-estabelecimentos', { titleTag: 'Titulo da pagina' }) %>

<div class="info-estabelecimentos">
    <div class="info-estabelecimentos-card">
        <!-- Visualização do usuário -->
        <div class="card" style="width: 18rem;">
          <img src="/trieventos/trieventos-v2.0/public/images/carrousel/estabelecimento[0].estabelecimento_imagem" class="card-img-top" alt="..." id="imagemEstabelecimento">
            <div class="card-body">
              <h5 class="card-title"><%= estabelecimento[0].estabelecimento_nome %></h5>
              <p class="card-text"><%= estabelecimento[0].estabelecimento_descricao_card %></p>
            </div>
        </div>
    </div>
    <div class="info-estabelecimentos-alteracoes">
        <!-- Alterar dados -->
        <form id="alterarCard" method="post" action="/estabelecimentocard" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="alterarEmail" class="form-label">Alterar E-mail</label>
              <input type="email" name='novoEmail' class="form-control" id="alterarEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="alterarDescricaoCard" class="form-label">Alterar Descrição do Card</label>
              <input type="text" name='descricaoCard' class="form-control" id="alterarDescricaoCard">
            </div>
            <div class="mb-3">
              <input type="hidden" name="_method" value="PATCH">
              <label for="imagemEstabelecimento" class="form-label">Selecionar Imagem</label>
              <input class="form-control" type="file" id="uploadFoto" name="imagemEstabelecimento">
            </div>

            <button type="submit" class="btn btn-primary">Alterar</button>
          </form>
    </div>
</div>

<!-- FAZER O PATCH DO MILENIO -->
<script>
  document.getElementById('alterarCard').addEventListener('submit', function(event) {
    event.preventDefault(); // Impede o envio do formulário padrão

    const formData = new FormData(event.target); // Obtém os dados do formulário

    fetch('/estabelecimentocard', {
      method: 'PATCH',
      body: formData // Use the FormData directly as the body
    })
    .then(response => {
      if (response.ok) {
        console.log('Dados atualizados com sucesso!');
        // Faça algo em resposta ao sucesso
      } else {
        console.error('Falha ao atualizar os dados!');
        // Faça algo em resposta à falha
      }
    })
    .catch(error => {
      console.error('Ocorreu um erro:', error);
    });
  });

  const fileInput = document.getElementById('uploadFoto');
  const imageElement = document.getElementById('imagemEstabelecimento');

  // Adicione um ouvinte de evento para detectar quando um arquivo é selecionado
  fileInput.addEventListener('change', function(event) {
    // Verifique se um arquivo foi selecionado
    if (event.target.files && event.target.files[0]) {
      // Crie uma URL temporária para a imagem selecionada
      const imageURL = URL.createObjectURL(event.target.files[0]);

      // Atualize o atributo 'src' da imagem com a nova URL
      imageElement.src = imageURL;

      // Salve a URL no localStorage para recuperá-la ao atualizar a página
      localStorage.setItem('recent-image', imageURL);
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    const recentImageDataUrl = localStorage.getItem('recent-image');

    if (recentImageDataUrl) {
      imageElement.src = recentImageDataUrl; // Carrega a imagem recente ao carregar a página
    }
  });
</script>

<%- include('../partials/footer') %>
